In [44]:
import sqlite3
from sqlite3 import Error
import pandas as pd 

file1 = pd.read_csv("age-education.csv", header=None)
file2 = pd.read_csv("multilingual-age.csv", header=None)
file3 = pd.read_csv("multilingual-education.csv", header=None)

file1 = file1.loc[7:]
file2 = file2.loc[5:]
file3 = file3.loc[5:]
#print(file2)

i = 0
columns1=['table','Scode','Dcode','areaName','type','age_grp','p_count','m_count','f_count','p_illt','m_illt','F_illt','p_lit','m_lit','f_lit','p_lit_wot_edu','m_lit_wot_edu','f_lit_wot_edu','p_below_pr','m_below_pr','f_below_pr','p_primary','m_primary','f_primary','p_middle','m_middle','f_middle','p_mtrx_sec','m_mtrx_sec','f_mtrx_sec','p_high_sec','m_high_sec', 'f_high_sec','p_nonT_diploma','m_nonT_diploma', 'f_nonT_diploma','p_T_diploma','m_T_diploma','f_T_diploma','p_grad_plus','m_grad_plus', 'f_grad_plus','p_other','m_other','f_other']
file1_DF = pd.DataFrame(columns = columns1)
while i<45 : 
    file1_DF[columns1[i]] = file1[i]
    i = i+1

i = 0
columns2=['Scode','Dcode','areaName','type','age_grp','p2lang','male2lang','female2lang','p3lang','male3lang','female3lang']
file2_DF = pd.DataFrame(columns =columns2)
while i<11 : 
    file2_DF[columns2[i]] = file2[i]
    i = i+1

i = 0
columns3=['Scode','Dcode','areaName','type','education_level','p2lang','male2lang','female2lang','p3lang','male3lang','female3lang']
file3_DF = pd.DataFrame(columns =columns3)
while i<11 : 
    file3_DF[columns3[i]] = file3[i]
    i = i+1

    
state_area = pd.DataFrame(columns = ['Scode','areaName'])
distribution_by_educ_lvl = pd.DataFrame(columns = ['Scode','type','education_level','male2lang','female2lang','male3lang','female3lang'])
distribution_by_age_grp = pd.DataFrame(columns = ['Scode','type','age_grp','male2lang','female2lang','male3lang','female3lang'])


state_area['Scode'] = file2_DF['Scode']
state_area['areaName'] = file2_DF['areaName']
state_area = state_area.drop_duplicates()               #table1 data

columns = ['Scode','type','education_level','male2lang','female2lang','male3lang','female3lang']
for i in columns : 
    distribution_by_educ_lvl[i] = file3_DF[i]
distribution_by_educ_lvl = distribution_by_educ_lvl[distribution_by_educ_lvl.type != 'Total']
#distribution_by_educ_lvl = distribution_by_educ_lvl[distribution_by_educ_lvl.Scode != '00']
distribution_by_educ_lvl = distribution_by_educ_lvl[distribution_by_educ_lvl.education_level != 'Total'] #table2 data

columns = ['Scode','type','age_grp','male2lang','female2lang','male3lang','female3lang']
for i in columns : 
    distribution_by_age_grp[i] = file2_DF[i]
distribution_by_age_grp = distribution_by_age_grp[distribution_by_age_grp.type != 'Total']
#distribution_by_age_grp = distribution_by_age_grp[distribution_by_age_grp.Scode != '00']
distribution_by_age_grp = distribution_by_age_grp[distribution_by_age_grp.age_grp != 'Total'] #table3 data


population_stateWise = pd.DataFrame(columns = ['Scode','m_count','f_count'])
combine_key_id = pd.DataFrame(columns = ['id','Scode','type','age_group'])
populatoin_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
illiterate_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
literate_grp_by_age =  pd.DataFrame(columns = ['id','m_count','f_count'])
liter_wot_edu_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
below_prmry_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
primary_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
middle_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
matrx_second_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
high_schl_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
non_tech_diplma_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
tech_diplma_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
graduate_plus_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
unclassified_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])

newFile1Data = pd.DataFrame(file1_DF)
#newFile1Data = newFile1Data[newFile1Data.Scode != '00']
newFile1Data = newFile1Data[newFile1Data.type != 'Total']
newFile1Data = newFile1Data[newFile1Data.age_grp != 'All ages']

x = [1]
i = 2
while i<=2016 :
    x.append(i)
    i = i+1

combine_key_id['Scode'] = newFile1Data['Scode']
combine_key_id['age_group'] = newFile1Data['age_grp']
combine_key_id['type'] = newFile1Data['type']
combine_key_id['id'] = x

populatoin_grp_by_age['m_count'] = newFile1Data['m_count']
populatoin_grp_by_age['f_count'] = newFile1Data['f_count']
populatoin_grp_by_age['id'] = x

illiterate_grp_by_age['m_count'] =newFile1Data['m_illt']
illiterate_grp_by_age['f_count'] =newFile1Data['F_illt']
illiterate_grp_by_age['id'] = x

literate_grp_by_age['m_count'] =  newFile1Data['m_lit']
literate_grp_by_age['f_count'] =  newFile1Data['f_lit']
literate_grp_by_age['id'] = x

liter_wot_edu_grp_by_age['m_count']=  newFile1Data['m_lit_wot_edu']
liter_wot_edu_grp_by_age['f_count']=  newFile1Data['f_lit_wot_edu'] 
liter_wot_edu_grp_by_age['id'] = x

below_prmry_grp_by_age['m_count'] =  newFile1Data['m_below_pr']
below_prmry_grp_by_age['f_count'] =  newFile1Data['f_below_pr']
below_prmry_grp_by_age['id'] = x

primary_grp_by_age['m_count']=  newFile1Data['m_primary']
primary_grp_by_age['f_count']=  newFile1Data['f_primary']
primary_grp_by_age['id'] = x

middle_grp_by_age['m_count']=  newFile1Data['m_middle']
middle_grp_by_age['f_count']=  newFile1Data['f_middle']
middle_grp_by_age['id'] = x

matrx_second_grp_by_age['m_count']=  newFile1Data['m_mtrx_sec']
matrx_second_grp_by_age['f_count']=  newFile1Data['f_mtrx_sec']
matrx_second_grp_by_age['id'] = x

high_schl_grp_by_age['m_count']=  newFile1Data['m_high_sec']
high_schl_grp_by_age['f_count']=  newFile1Data['f_high_sec']
high_schl_grp_by_age['id'] = x

non_tech_diplma_grp_by_age['m_count']=  newFile1Data['m_nonT_diploma']
non_tech_diplma_grp_by_age['f_count']=  newFile1Data['f_nonT_diploma']
non_tech_diplma_grp_by_age['id'] = x

tech_diplma_grp_by_age['m_count']=  newFile1Data['m_T_diploma']
tech_diplma_grp_by_age['f_count']=  newFile1Data['f_T_diploma']
tech_diplma_grp_by_age['id'] = x

graduate_plus_grp_by_age['m_count']=  newFile1Data['m_grad_plus']
graduate_plus_grp_by_age['f_count']=  newFile1Data['f_grad_plus']
graduate_plus_grp_by_age['id'] = x

unclassified_grp_by_age['m_count']=  newFile1Data['m_other']
unclassified_grp_by_age['f_count']=  newFile1Data['f_other']
unclassified_grp_by_age['id'] = x

tempData = pd.DataFrame(file1_DF)
tempData = tempData[tempData.age_grp == "All ages"]
tempData = tempData[tempData.type == "Total"]
tempData = tempData[tempData.Scode != '00']

population_stateWise['m_count'] = tempData['m_count']
population_stateWise['f_count'] = tempData['f_count']
population_stateWise['Scode'] = tempData['Scode']

data = [['0-6',3],['7',7],['8',8],['9',9],['10',10],['11',11],['12',12],['13',13],['14',14],['15',15],['16',16],['17',17],['18',18],['19',19],['20-24',22],['25-29',27],
        ['30-34',32],['35-39',37],['40-44',42],['45-49',47],['50-54',52],['55-59',57],['60-64',62],['65-69',67],['70-74',72]
       ,['75-79',77],['80+',85]]
avg_val_table = pd.DataFrame(data,columns = ['age_group','avg_value'])




conn = sqlite3.connect('test112db')  
c = conn.cursor() 

c.execute('''CREATE TABLE state_area([Scode] INTEGER PRIMARY KEY,[areaName] VARCHAR(100))''')
c.execute('''CREATE TABLE population_stateWise([Scode] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (Scode) REFERENCES state_area (Scode))''')
c.execute('''CREATE TABLE avg_val_table([age_group] VARCHAR(50) PRIMARY KEY,[avg_value] integer)''')
c.execute('''CREATE TABLE combine_key_id([id] INTEGER PRIMARY KEY,[Scode] INTEGER, [type] VARCHAR(50),[age_group] VARCHAR(50),FOREIGN KEY (Scode) REFERENCES state_area (Scode))''')
c.execute('''CREATE TABLE populatoin_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer)''')
c.execute('''CREATE TABLE illiterate_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE literate_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE liter_wot_edu_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE below_prmry_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE primary_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE middle_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE matrx_second_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE high_schl_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE non_tech_diplma_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE tech_diplma_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE graduate_plus_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE unclassified_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')

c.execute('''CREATE TABLE distribution_by_educ_lvl([Scode] INTEGER,[type] varchar(100), [education_level] VARCHAR(100),[male2lang] integer,[female2lang] integer,[male3lang] integer,[female3lang] integer,PRIMARY KEY(Scode,type,education_level),FOREIGN KEY (Scode) REFERENCES state_area(Scode))''')

c.execute('''CREATE TABLE distribution_by_age_grp([Scode] INTEGER,[type] varchar(100), [age_grp] VARCHAR(50),[male2lang] integer,[female2lang] integer,[male3lang] integer,[female3lang] integer,PRIMARY KEY(Scode,type,age_grp),FOREIGN KEY (Scode) REFERENCES state_area (Scode))''')


conn.commit()



conn = sqlite3.connect('test112.db')  
c = conn.cursor()
population_stateWise.to_sql('population_stateWise', conn, if_exists='append', index = False)
combine_key_id.to_sql('combine_key_id', conn, if_exists='append', index = False)
populatoin_grp_by_age.to_sql('populatoin_grp_by_age', conn, if_exists='append', index = False)
illiterate_grp_by_age.to_sql('illiterate_grp_by_age', conn, if_exists='append', index = False)
literate_grp_by_age.to_sql('literate_grp_by_age', conn, if_exists='append', index = False)
liter_wot_edu_grp_by_age.to_sql('liter_wot_edu_grp_by_age', conn, if_exists='append', index = False)
below_prmry_grp_by_age.to_sql('below_prmry_grp_by_age', conn, if_exists='append', index = False)
primary_grp_by_age.to_sql('primary_grp_by_age', conn, if_exists='append', index = False)
middle_grp_by_age.to_sql('middle_grp_by_age', conn, if_exists='append', index = False)
matrx_second_grp_by_age.to_sql('matrx_second_grp_by_age', conn, if_exists='append', index = False)
high_schl_grp_by_age.to_sql('high_schl_grp_by_age', conn, if_exists='append', index = False)
non_tech_diplma_grp_by_age.to_sql('non_tech_diplma_grp_by_age', conn, if_exists='append', index = False)
tech_diplma_grp_by_age.to_sql('tech_diplma_grp_by_age', conn, if_exists='append', index = False)
graduate_plus_grp_by_age.to_sql('graduate_plus_grp_by_age', conn, if_exists='append', index = False)
unclassified_grp_by_age.to_sql('unclassified_grp_by_age', conn, if_exists='append', index = False)
distribution_by_educ_lvl.to_sql('distribution_by_educ_lvl', conn, if_exists='append', index = False)
distribution_by_age_grp.to_sql('distribution_by_age_grp', conn, if_exists='append', index = False)
state_area.to_sql('state_area', conn, if_exists='append', index = False)

avg_val_table.to_sql('avg_val_table', conn, if_exists='append', index = False)
conn.commit()

In [45]:
############################################
#query1
conn = sqlite3.connect('test112.db')  
c = conn.cursor()
c.execute(''' with temp1(Scode,count3) as
(select Scode, sum(male3lang+female3lang) from distribution_by_educ_lvl where Scode != 0 group by Scode),
temp2(Scode,countAll) as 
(select Scode, m_count + f_count from population_stateWise)
select sa.areaName as State, (t1.count3*1.0/t2.countAll)*100 as percent from temp1 as t1, temp2 as t2,state_area as sa 
where t1.Scode=t2.Scode and t1.Scode= sa.Scode order by percent''')
print("------------------query 1------------------")
print(c.fetchall())
print("\n")
conn.commit()
###########################################

#query2
conn = sqlite3.connect('test112.db')  
c = conn.cursor()
c.execute(''' with temp(age_grp,count) as 
(select age_grp, sum(male2lang+female2lang) from distribution_by_age_grp where Scode != 0 group by age_grp)
select age_grp from temp where count = (select max(count) from temp)''')
print("------------------query 2------------------")
print(c.fetchall())
print("\n")

conn.commit()

###########################################

#query3
conn = sqlite3.connect('test112.db')  
c= conn.cursor()

c.execute('''with temp0(age_grp,male,female) as 
(select age_group,sum(m_count),sum(f_count) from populatoin_grp_by_age as pop, combine_key_id as cki
 where cki.id = pop.id and Scode = 0 group by cki.age_group), 
 m_by_f(age_grp,value1) as (select age_grp, max(male*1.0/female) from temp0),
 f_by_m(age_grp,value2) as (select age_grp,max(female*1.0/male) from temp0)
 select * from m_by_f 
 UNION ALL 
 select * from f_by_m ''')
print("------------------query 3------------------")
print(c.fetchall())
print("\n")
conn.commit()

###########################################
#query 4
conn = sqlite3.connect('test112.db')  
c = conn.cursor()
c.execute(''' with count2(value2) as 
(select sum(male2lang+female2lang) from distribution_by_age_grp where Scode = 0),
count1(value1) as (select sum(m_count+f_count) from population_stateWise)
select value1-value2 from count2,count1;''')
print("------------------query 4------------------")
print(c.fetchall())
print("\n")

conn.commit()

###########################################
#query 5
conn = sqlite3.connect('test112.db')  
c = conn.cursor()
c.execute(''' with temp1(Scode,age_grp,sum_pop) as
(select cki.Scode, cki.age_group,sum(pop.m_count+pop.f_count) from combine_key_id as cki, populatoin_grp_by_age as pop
where cki.id=pop.id and Scode != 0 group by Scode,age_group),
temp2(Scode,count) as 
(select Scode,sum(m_count+f_count) from populatoin_grp_by_age as pop1,combine_key_id as cki1 
where cki1.id=pop1.id and cki1.age_group != "Age not stated" and cki1.Scode != 0 group by cki1.Scode),
temp3(Scode,new_sum) as 
(select Scode, sum(sum_pop*avg_value) from temp1 as t1, avg_val_table as t2 
where t1.age_grp = t2.age_group group by Scode),
temp4(Sname,value) as 
(select s1.areaName,x1.new_sum*1.0/x2.count from state_area as s1,temp3 as x1, temp2 as x2 
where x1.Scode = x2.Scode and x1.Scode = s1.Scode)
select Sname, value from temp4 where value = (select max(value) from temp4)''')

print("------------------query 5------------------")
print(c.fetchall())
print("\n")
conn.commit()
###########################################

------------------query 1------------------
[('UTTAR PRADESH', 2.4960545354903783), ('RAJASTHAN', 2.840966308247116), ('BIHAR', 2.986647806753104), ('CHHATTISGARH', 3.0423252150952207), ('MADHYA PRADESH', 3.3537643103664383), ('UTTARAKHAND', 3.6399997144639475), ('WEST BENGAL', 6.0994368570572925), ('TAMIL NADU', 6.5309105586189755), ('JHARKHAND', 8.893634298927001), ('HARYANA', 9.062416203057639), ('MIZORAM', 9.42967865651482), ('HIMACHAL PRADESH', 9.952040919488121), ('TRIPURA', 10.405950923768827), ('PUDUCHERRY', 11.282476182997277), ('ANDHRA PRADESH', 14.31568073677072), ('NCT OF DELHI', 15.796630450392934), ('MEGHALAYA', 17.522731723364103), ('KERALA', 18.624111355122054), ('KARNATAKA', 24.170236867823068), ('ODISHA', 25.45466123990684), ('ASSAM', 26.11578456363055), ('GUJARAT', 27.41729557457043), ('DAMAN & DIU', 27.761082356616935), ('LAKSHADWEEP', 30.347587362151597), ('JAMMU & KASHMIR', 32.060865769758195), ('MAHARASHTRA', 33.74409528197155), ('ANDAMAN & NICOBAR ISLANDS', 37.54548965923155), ('DADRA & NAGAR HAVELI', 38.50262867716586), ('MANIPUR', 41.240229512352784), ('NAGALAND', 51.77674826712331), ('PUNJAB', 55.41480985453157), ('ARUNACHAL PRADESH', 56.251052411349924), ('SIKKIM', 57.447791187679854), ('CHANDIGARH', 60.466909848879624), ('GOA', 96.30494773901388)]


------------------query 2------------------
[('30-49',)]


------------------query 3------------------
[(None, None), (None, None)]


------------------query 4------------------
[(None,)]


------------------query 5------------------
[('KERALA', 33.185498586746355)]