In [1]:
import sqlite3
from sqlite3 import Error

In [3]:
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()
 
 
if __name__ == '__main__':
    create_connection(r"E:\sqlite\db\pythonsqlite.db")

unable to open database file

In [1]:
c.execute('''CREATE TABLE state_area([Scode] INTEGER PRIMARY KEY,[areaName] VARCHAR(100))''')
c.execute('''CREATE TABLE population_stateWise([Scode] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (Scode) REFERENCES state_area (Scode))''')
c.execute('''CREATE TABLE avg_val_table([age_group] VARCHAR(50) PRIMARY KEY,[avg_value] integer)''')
c.execute('''CREATE TABLE combine_key_id([id] INTEGER PRIMARY KEY,[Scode] INTEGER, [type] VARCHAR(50),[age_group] VARCHAR(50),FOREIGN KEY (Scode) REFERENCES state_area (Scode))''')
c.execute('''CREATE TABLE populatoin_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE illiterate_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE literate_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE liter_wot_edu_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE below_prmry_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE primary_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE middle_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE matrx_second_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE high_schl_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE non_tech_diplma_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE tech_diplma_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE graduate_plus_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE unclassified_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE distribution_by_educ_lvl([Scode] INTEGER,[type] varchar(100), [education_level] VARCHAR(100),[male2lang] integer,[female2lang] integer,[male3lang] integer,[female3lang] integer,PRIMARY KEY(Scode,type,education_level,FOREIGN KEY (Scode) REFERENCES state_area (Scode)))''')
c.execute('''CREATE TABLE distribution_by_age_grp([Scode] INTEGER,[type] varchar(100), [age_grp] VARCHAR(50),[male2lang] integer,[female2lang] integer,[male3lang] integer,[female3lang] integer,PRIMARY KEY(Scode,type,age_grp),FOREIGN KEY (Scode) REFERENCES state_area (Scode))''')

rohit

In [531]:
import pandas as pd 
file1 = pd.read_csv("age-education.csv", header=None)
file2 = pd.read_csv("multilingual-age.csv", header=None)
file3 = pd.read_csv("multilingual-education.csv", header=None)

In [532]:
file1 = file1.loc[7:]
file2 = file2.loc[5:]
file3 = file3.loc[5:]
#print(file2)

In [569]:
i = 0
columns1=['table','Scode','Dcode','areaName','type','age_grp','p_count','m_count','f_count','p_illt','m_illt','F_illt','p_lit','m_lit','f_lit','p_lit_wot_edu','m_lit_wot_edu','f_lit_wot_edu','p_below_pr','m_below_pr','f_below_pr','p_primary','m_primary','f_primary','p_middle','m_middle','f_middle','p_mtrx_sec','m_mtrx_sec','f_mtrx_sec','p_high_sec','m_high_sec', 'f_high_sec','p_nonT_diploma','m_nonT_diploma', 'f_nonT_diploma','p_T_diploma','m_T_diploma','f_T_diploma','p_grad_plus','m_grad_plus', 'f_grad_plus','p_other','m_other','f_other']
file1_DF = pd.DataFrame(columns = columns1)
while i<45 : 
    file1_DF[columns1[i]] = file1[i]
    i = i+1

i = 0
columns2=['Scode','Dcode','areaName','type','age_grp','p2lang','male2lang','female2lang','p3lang','male3lang','female3lang']
file2_DF = pd.DataFrame(columns =columns2)
while i<11 : 
    file2_DF[columns2[i]] = file2[i]
    i = i+1

i = 0
columns3=['Scode','Dcode','areaName','type','education_level','p2lang','male2lang','female2lang','p3lang','male3lang','female3lang']
file3_DF = pd.DataFrame(columns =columns3)
while i<11 : 
    file3_DF[columns3[i]] = file3[i]
    i = i+1

In [570]:
state_area = pd.DataFrame(columns = ['Scode','areaName'])
distribution_by_educ_lvl = pd.DataFrame(columns = ['Scode','type','education_level','male2lang','female2lang','male3lang','female3lang'])
distribution_by_age_grp = pd.DataFrame(columns = ['Scode','type','age_grp','male2lang','female2lang','male3lang','female3lang'])

In [571]:
state_area['Scode'] = file2_DF['Scode']
state_area['areaName'] = file2_DF['areaName']
state_area = state_area.drop_duplicates()               #table1 data

In [572]:
columns = ['Scode','type','education_level','male2lang','female2lang','male3lang','female3lang']
for i in columns : 
    distribution_by_educ_lvl[i] = file3_DF[i]
distribution_by_educ_lvl = distribution_by_educ_lvl[distribution_by_educ_lvl.type != 'Total']
#distribution_by_educ_lvl = distribution_by_educ_lvl[distribution_by_educ_lvl.Scode != '00']
distribution_by_educ_lvl = distribution_by_educ_lvl[distribution_by_educ_lvl.education_level != 'Total'] #table2 data

columns = ['Scode','type','age_grp','male2lang','female2lang','male3lang','female3lang']
for i in columns : 
    distribution_by_age_grp[i] = file2_DF[i]
distribution_by_age_grp = distribution_by_age_grp[distribution_by_age_grp.type != 'Total']
#distribution_by_age_grp = distribution_by_age_grp[distribution_by_age_grp.Scode != '00']
distribution_by_age_grp = distribution_by_age_grp[distribution_by_age_grp.age_grp != 'Total'] #table3 data

In [573]:
population_stateWise = pd.DataFrame(columns = ['Scode','m_count','f_count'])
combine_key_id = pd.DataFrame(columns = ['id','Scode','type','age_group'])
populatoin_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
illiterate_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
literate_grp_by_age =  pd.DataFrame(columns = ['id','m_count','f_count'])
liter_wot_edu_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
below_prmry_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
primary_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
middle_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
matrx_second_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
high_schl_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
non_tech_diplma_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
tech_diplma_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
graduate_plus_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])
unclassified_grp_by_age = pd.DataFrame(columns = ['id','m_count','f_count'])

In [574]:
newFile1Data = pd.DataFrame(file1_DF)
#newFile1Data = newFile1Data[newFile1Data.Scode != '00']
newFile1Data = newFile1Data[newFile1Data.type != 'Total']
newFile1Data = newFile1Data[newFile1Data.age_grp != 'All ages']

In [575]:
x = [1]
i = 2
while i<=2016 :
    x.append(i)
    i = i+1

In [576]:
combine_key_id['Scode'] = newFile1Data['Scode']
combine_key_id['age_group'] = newFile1Data['age_grp']
combine_key_id['type'] = newFile1Data['type']
combine_key_id['id'] = x

In [577]:
populatoin_grp_by_age['m_count'] = newFile1Data['m_count']
populatoin_grp_by_age['f_count'] = newFile1Data['f_count']
populatoin_grp_by_age['id'] = x

In [578]:
illiterate_grp_by_age['m_count'] =newFile1Data['m_illt']
illiterate_grp_by_age['f_count'] =newFile1Data['F_illt']
illiterate_grp_by_age['id'] = x

In [579]:
literate_grp_by_age['m_count'] =  newFile1Data['m_lit']
literate_grp_by_age['f_count'] =  newFile1Data['f_lit']
literate_grp_by_age['id'] = x

In [580]:
liter_wot_edu_grp_by_age['m_count']=  newFile1Data['m_lit_wot_edu']
liter_wot_edu_grp_by_age['f_count']=  newFile1Data['f_lit_wot_edu'] 
liter_wot_edu_grp_by_age['id'] = x

In [581]:
below_prmry_grp_by_age['m_count'] =  newFile1Data['m_below_pr']
below_prmry_grp_by_age['f_count'] =  newFile1Data['f_below_pr']
below_prmry_grp_by_age['id'] = x

In [582]:
primary_grp_by_age['m_count']=  newFile1Data['m_primary']
primary_grp_by_age['f_count']=  newFile1Data['f_primary']
primary_grp_by_age['id'] = x

In [583]:
middle_grp_by_age['m_count']=  newFile1Data['m_middle']
middle_grp_by_age['f_count']=  newFile1Data['f_middle']
middle_grp_by_age['id'] = x

In [584]:
matrx_second_grp_by_age['m_count']=  newFile1Data['m_mtrx_sec']
matrx_second_grp_by_age['f_count']=  newFile1Data['f_mtrx_sec']
matrx_second_grp_by_age['id'] = x

In [585]:
high_schl_grp_by_age['m_count']=  newFile1Data['m_high_sec']
high_schl_grp_by_age['f_count']=  newFile1Data['f_high_sec']
high_schl_grp_by_age['id'] = x

In [586]:
non_tech_diplma_grp_by_age['m_count']=  newFile1Data['m_nonT_diploma']
non_tech_diplma_grp_by_age['f_count']=  newFile1Data['f_nonT_diploma']
non_tech_diplma_grp_by_age['id'] = x

In [587]:
tech_diplma_grp_by_age['m_count']=  newFile1Data['m_T_diploma']
tech_diplma_grp_by_age['f_count']=  newFile1Data['f_T_diploma']
tech_diplma_grp_by_age['id'] = x

In [588]:
graduate_plus_grp_by_age['m_count']=  newFile1Data['m_grad_plus']
graduate_plus_grp_by_age['f_count']=  newFile1Data['f_grad_plus']
graduate_plus_grp_by_age['id'] = x

In [589]:
unclassified_grp_by_age['m_count']=  newFile1Data['m_other']
unclassified_grp_by_age['f_count']=  newFile1Data['f_other']
unclassified_grp_by_age['id'] = x

In [590]:
tempData = pd.DataFrame(file1_DF)
tempData = tempData[tempData.age_grp == "All ages"]
tempData = tempData[tempData.type == "Total"]
tempData = tempData[tempData.Scode != '00']

In [591]:
population_stateWise['m_count'] = tempData['m_count']
population_stateWise['f_count'] = tempData['f_count']
population_stateWise['Scode'] = tempData['Scode']

In [592]:
data = [['0-6',3],['7',7],['8',8],['9',9],['10',10],['11',11],['12',12],['13',13],['14',14],['15',15],['16',16],['17',17],['18',18],['19',19],['20-24',22],['25-29',27],
        ['30-34',32],['35-39',37],['40-44',42],['45-49',47],['50-54',52],['55-59',57],['60-64',62],['65-69',67],['70-74',72]
       ,['75-79',77],['80+',85]]
avg_val_table = pd.DataFrame(data,columns = ['age_group','avg_value'])

In [593]:
#tempData

In [522]:
#export_csv = population_stateWise.to_csv(r'population_stateWise.csv', index = None, header=True)

In [ ]:
c.execute('''CREATE TABLE population_stateWise([Scode] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer)''')
c.execute('''CREATE TABLE combine_key_id([id] INTEGER PRIMARY KEY,[Scode] INTEGER, [type] VARCHAR(50),[age_group] VARCHAR(50))''')
c.execute('''CREATE TABLE populatoin_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer)''')
c.execute('''CREATE TABLE illiterate_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer)''')
c.execute('''CREATE TABLE literate_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer)''')
c.execute('''CREATE TABLE liter_wot_edu_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer)''')
c.execute('''CREATE TABLE below_prmry_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer)''')
c.execute('''CREATE TABLE primary_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer)''')
c.execute('''CREATE TABLE middle_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer)''')
c.execute('''CREATE TABLE matrx_second_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer)''')
c.execute('''CREATE TABLE high_schl_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer)''')
c.execute('''CREATE TABLE non_tech_diplma_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer)''')
c.execute('''CREATE TABLE tech_diplma_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer)''')
c.execute('''CREATE TABLE graduate_plus_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer)''')
c.execute('''CREATE TABLE unclassified_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer)''')

c.execute('''CREATE TABLE distribution_by_educ_lvl([Scode] INTEGER,[type] varchar(100), [education_level] VARCHAR(100),[male2lang] integer,[female2lang] integer,[male3lang] integer,[female3lang] integer,PRIMARY KEY(Scode,type,education_level))''')
c.execute('''CREATE TABLE distribution_by_age_grp([Scode] INTEGER,[type] varchar(100), [age_grp] VARCHAR(50),[male2lang] integer,[female2lang] integer,[male3lang] integer,[female3lang] integer,PRIMARY KEY(Scode,type,age_grp))''')
c.execute('''CREATE TABLE state_area([Scode] INTEGER PRIMARY KEY,[areaName] VARCHAR(100))''')

c.execute('''CREATE TABLE avg_val_table([age_group] VARCHAR(50) PRIMARY KEY,[avg_value] integer)''')

In [648]:
import sqlite3

conn = sqlite3.connect('TestDB1.db')  # You can create a new database by changing the name within the quotes
c = conn.cursor() # The database will be saved in the location where your 'py' file is saved

c.execute('''CREATE TABLE state_area([Scode] INTEGER PRIMARY KEY,[areaName] VARCHAR(100))''')
c.execute('''CREATE TABLE population_stateWise([Scode] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (Scode) REFERENCES state_area (Scode))''')
c.execute('''CREATE TABLE avg_val_table([age_group] VARCHAR(50) PRIMARY KEY,[avg_value] integer)''')
c.execute('''CREATE TABLE combine_key_id([id] INTEGER PRIMARY KEY,[Scode] INTEGER, [type] VARCHAR(50),[age_group] VARCHAR(50),FOREIGN KEY (Scode) REFERENCES state_area (Scode))''')
c.execute('''CREATE TABLE populatoin_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE illiterate_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE literate_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE liter_wot_edu_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE below_prmry_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE primary_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE middle_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE matrx_second_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE high_schl_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE non_tech_diplma_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE tech_diplma_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE graduate_plus_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')
c.execute('''CREATE TABLE unclassified_grp_by_age([id] INTEGER PRIMARY KEY,[m_count] INTEGER, [f_count] integer,FOREIGN KEY (id) REFERENCES combine_key_id (id))''')

c.execute('''CREATE TABLE distribution_by_educ_lvl([Scode] INTEGER,[type] varchar(100), [education_level] VARCHAR(100),[male2lang] integer,[female2lang] integer,[male3lang] integer,[female3lang] integer,PRIMARY KEY(Scode,type,education_level),FOREIGN KEY (Scode) REFERENCES state_area(Scode))''')

c.execute('''CREATE TABLE distribution_by_age_grp([Scode] INTEGER,[type] varchar(100), [age_grp] VARCHAR(50),[male2lang] integer,[female2lang] integer,[male3lang] integer,[female3lang] integer,PRIMARY KEY(Scode,type,age_grp),FOREIGN KEY (Scode) REFERENCES state_area (Scode))''')

conn.commit()

In [524]:
#conn = sqlite3.connect('TestDB1.db')  
#c = conn.cursor()

#population_stateWise.to_sql('population_stateWise', conn, if_exists='append', index = False)

#conn.commit()

In [596]:
conn = sqlite3.connect('TestDB8.db')  
c = conn.cursor()
population_stateWise.to_sql('population_stateWise', conn, if_exists='append', index = False)
combine_key_id.to_sql('combine_key_id', conn, if_exists='append', index = False)
populatoin_grp_by_age.to_sql('populatoin_grp_by_age', conn, if_exists='append', index = False)
illiterate_grp_by_age.to_sql('illiterate_grp_by_age', conn, if_exists='append', index = False)
literate_grp_by_age.to_sql('literate_grp_by_age', conn, if_exists='append', index = False)
liter_wot_edu_grp_by_age.to_sql('liter_wot_edu_grp_by_age', conn, if_exists='append', index = False)
below_prmry_grp_by_age.to_sql('below_prmry_grp_by_age', conn, if_exists='append', index = False)
primary_grp_by_age.to_sql('primary_grp_by_age', conn, if_exists='append', index = False)
middle_grp_by_age.to_sql('middle_grp_by_age', conn, if_exists='append', index = False)
matrx_second_grp_by_age.to_sql('matrx_second_grp_by_age', conn, if_exists='append', index = False)
high_schl_grp_by_age.to_sql('high_schl_grp_by_age', conn, if_exists='append', index = False)
non_tech_diplma_grp_by_age.to_sql('non_tech_diplma_grp_by_age', conn, if_exists='append', index = False)
tech_diplma_grp_by_age.to_sql('tech_diplma_grp_by_age', conn, if_exists='append', index = False)
graduate_plus_grp_by_age.to_sql('graduate_plus_grp_by_age', conn, if_exists='append', index = False)
unclassified_grp_by_age.to_sql('unclassified_grp_by_age', conn, if_exists='append', index = False)
distribution_by_educ_lvl.to_sql('distribution_by_educ_lvl', conn, if_exists='append', index = False)
distribution_by_age_grp.to_sql('distribution_by_age_grp', conn, if_exists='append', index = False)
state_area.to_sql('state_area', conn, if_exists='append', index = False)

avg_val_table.to_sql('avg_val_table', conn, if_exists='append', index = False)
conn.commit()

In [656]:
#query1
conn = sqlite3.connect('TestDB8.db')  
c = conn.cursor()

c.execute(''' with temp1(Scode,count3) as
(select Scode, sum(male3lang+female3lang) from distribution_by_educ_lvl where Scode != 0 group by Scode),
temp2(Scode,countAll) as 
(select Scode, m_count + f_count from population_stateWise)
select sa.areaName as State, (t1.count3*1.0/t2.countAll)*100 as percent from temp1 as t1, temp2 as t2,state_area as sa 
where t1.Scode=t2.Scode and t1.Scode= sa.Scode order by percent''')

#print(c.fetchall())
conn.commit()

In [657]:
#query2
conn = sqlite3.connect('TestDB8.db')  
c = conn.cursor()

c.execute(''' with temp(age_grp,count) as 
(select age_grp, sum(male2lang+female2lang) from distribution_by_age_grp where Scode != 0 group by age_grp)
select age_grp from temp where count = (select max(count) from temp)''')
print(c.fetchall())
#conn.commit()

[('30-49',)]

In [665]:
#query3
conn = sqlite3.connect('TestDB8.db')  
c = conn.cursor()

c.execute('''with temp0(Scode,age_grp,sum_v) as 
(select Scode,age_group,m_count+f_count from combine_key_id as cki, populatoin_grp_by_age as pop
where cki.id=pop.id and Scode != 0)
select * from temp0''')
#print(c.fetchall())
conn.commit()

In [660]:
#query 4
conn = sqlite3.connect('TestDB8.db')  
c = conn.cursor()

c.execute(''' with count2(value2) as 
(select sum(male2lang+female2lang) from distribution_by_age_grp where Scode = 0),
count1(value1) as (select sum(m_count+f_count) from population_stateWise)
select value1-value2 from count2,count1;''')
print(c.fetchall())
conn.commit()

[(895866207,)]

In [661]:
#query 5
conn = sqlite3.connect('TestDB8.db')  
c = conn.cursor()

c.execute(''' with temp1(Scode,age_grp,sum_pop) as
(select cki.Scode, cki.age_group,sum(pop.m_count+pop.f_count) from combine_key_id as cki, populatoin_grp_by_age as pop
where cki.id=pop.id and Scode != 0 group by Scode,age_group),
temp2(Scode,count) as 
(select Scode,sum(m_count+f_count) from populatoin_grp_by_age as pop1,combine_key_id as cki1 
where cki1.id=pop1.id and cki1.age_group != "Age not stated" and cki1.Scode != 0 group by cki1.Scode),
temp3(Scode,new_sum) as 
(select Scode, sum(sum_pop*avg_value) from temp1 as t1, avg_val_table as t2 
where t1.age_grp = t2.age_group group by Scode),
temp4(Sname,value) as 
(select s1.areaName,x1.new_sum*1.0/x2.count from state_area as s1,temp3 as x1, temp2 as x2 
where x1.Scode = x2.Scode and x1.Scode = s1.Scode)
select Sname, value from temp4 where value = (select max(value) from temp4)''')
print(c.fetchall())
conn.commit()

[('KERALA', 33.185498586746355)]

In [638]:
conn = sqlite3.connect('TestDB8.db')  
c = conn.cursor()

c.execute('''with temp0(Scode,age_grp,sum_v) as 
(select Scode,age_group,m_count+f_count from combine_key_id as cki, populatoin_grp_by_age as pop
where cki.id=pop.id and Scode != 0)
select * from temp0''')
#print(c.fetchall())
conn.commit()

In [669]:
conn = sqlite3.connect('TestDB8.db')  
c = conn.cursor()

c.execute(''' with temp1(age_grp,subtract) as 
(select age_group,sum(m_count+f_count) from populatoin_grp_by_age as pop, combine_key_id as cki
 where cki.id = pop.id and Scode = 0 group by cki.age_group),
 temp2(age_grp,pos_sub) as 
 (select age_grp , CASE WHEN subtract<0 then subtract*(-1) ELSE subtract END as subtract from temp1),
 temp3(max_value) as (select max(pos_sub) from temp2)
 select age_grp,pos_sub from temp2 ''')
print(c.fetchall())
conn.commit()

[('0-6', 164515253), ('10', 30552107), ('11', 24740946), ('12', 27877307), ('13', 24280683), ('14', 25258169), ('15', 25899454), ('16', 24592293), ('17', 21217467), ('18', 27958147), ('19', 20859088), ('20-24', 111424222), ('25-29', 101413965), ('30-34', 88594951), ('35-39', 85140684), ('40-44', 72438112), ('45-49', 62318327), ('50-54', 49069254), ('55-59', 39146055), ('60-64', 37663707), ('65-69', 26454983), ('7', 24826640), ('70-74', 19208842), ('75-79', 9232503), ('8', 26968373), ('80+', 11289005), ('9', 23424638), ('Age not stated', 4489802)]

In [695]:
conn = sqlite3.connect('TestDB8.db')  
c = conn.cursor()

c.execute('''with temp0(age_grp,male,female) as 
(select age_group,sum(m_count),sum(f_count) from populatoin_grp_by_age as pop, combine_key_id as cki
 where cki.id = pop.id and Scode = 0 group by cki.age_group), 
 m_by_f(age_grp,value1) as (select age_grp, max(male*1.0/female) from temp0),
 f_by_m(age_grp,value2) as (select age_grp,max(female*1.0/male) from temp0)
 select * from m_by_f 
 UNION ALL 
 select * from f_by_m ''')
print(c.fetchall())
conn.commit()

[('18', 1.161050268927912), ('80+', 1.1365739316898495)]

In [ ]:
 temp1(age_grp,m_by_f) as 
(select age_grp,male*1.0/female from temp0),
 temp2(age_grp,f_by_m) as 
(select age_grp,female*1.0/male from temp0),
 select age_grp,male,female from temp0 ''')

In [369]:
#query 1

In [ ]:
with temp1(Scode,count3) as
(select Scode, sum(m_count+f_count) from distribution_by_educ_lvl where Scode != 0 group by Scode),
temp2(Scode,countAll) as 
(select Scode, m_count+f_count from population_stateWise)
select Scode , percent from (select t1.Scode, (t1.count3/t2.countAll)*100 from temp1 as t1, temp2 as t2 where t1.Scode=t2.Scode)
as temp(Scode,percent);

In [370]:
#query 2

In [ ]:
with temp(agr_grp,count) as 
(select agr_grp, sum(m_count+f_count) from distribution_by_age_grp where Scode != 0 group by agr_grp)
select agr_grp from temp where count = (select max(count) from temp);

In [371]:
#query 3

In [377]:
#query 4

In [ ]:
with count2(value2) as (select sum(male2lang+female2lang) from distribution_by_age_grp where Scode = 0),
count1(value1) as (select sum(m_count+f_count) from population_stateWise)
select value1-value2 from count2,count1;

In [ ]:
#query 5

In [ ]:
with temp1(Scode,age_grp,sum_pop) as
(select cki.Scode, cki.age_grp,sum(pop.m_count+pop.f_count) from combine_key_id as cki, populatoin_grp_by_age as pop
 where cki.id=pop.id and scode != 0 group by (Scode,age_grp)),
temp2(Scode,count) as 
(select Scode,sum(m_count+f_count) from populatoin_grp_by_age as pop1,combine_key_id as cki1 where cki1.id=pop1.id
 and cki1.age_group != "Age not stated" and cki1.Scode != 0 group by cki1.Scode)
temp3(Scode,new_sum) as 
(select Scode, sum(sum_pop*avg_value) from temp1 as t1, avg_val_table as t2 where t1.age_grp = t2.age_grp group by Scode)
temp4(Sname,value) as 
(select s1.Sname,x1.new_sum/x2.count from state_area as s1,temp3 as x1, temp2 as x2 where x1.Scode = x2.Scode and 
 x1.Scode = s1.Scode)
select Sname, value from temp4 where value = (select max(value) from temp4));